@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  font-size: 16px;
  font-weight: 400;
  color-scheme: light dark;

  --content-color : hsl(0, 0%, 100%);
  --text-color    : hsl(200, 15%, 8%);
  --bg-color      : hsl(0, 0%, 98%);
  --input-color   : hsl(0, 0%, 52%);
  --card-shadow : 0 1px 8px 1px hsla(210, 16%, 63%, 0.2);
  --container-shadow : 0 1px 6px hsla(210, 16%, 63%, 0.15);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: 
  //   background-color ease .1s,
  //   color ease .1s;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  all: unset;
  cursor: pointer;
  user-select: none;
}

body.dark-theme {
  --content-color : hsl(209, 23%, 22%);
  --text-color    : hsl(0, 0%, 100%);
  --bg-color      : hsl(207, 26%, 17%);
  --card-shadow : 0 1px 5px 1px hsla(0, 0, 0, 0.3);
  --container-shadow : 0 1px 5px 1px hsla(0, 0%, 0%, 0.027);
}
